<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:replace="~{base::layout(~{::title},~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>add title here</title>
</head>
<body>
<section class="log">
<form action="addnote" method="post" style="margin-top: 40px;">
<h3>Add Any Note Bellow !</h3>

    <th:block th:if="${session.msg}">
		<p class="fs-3 mt-2 text-center text-success">[[${session.msg}]]</p>
		<th:block th:text="${@userServiceimpl.removeMessage()}"></th:block>
	</th:block>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Title</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="title">
  </div>
 
 <div class="form-floating">
  <textarea class="form-control" placeholder="Leave a description here" id="floatingTextarea" name="description"></textarea>
  <label for="floatingTextarea">Description</label>
 </div>

<select class="form-select mt-2" name="category">
  <option selected value="default">Select Category</option>
  <option value="Nct1">Nct1</option>
  <option value="Nct6">Nct6</option>
  <option value="Nct0">Nct0</option>
</select>

<div style="text-align: center;">
  <button type="submit" class="btn btn-success" style="border-radius: 20px;width: 120px;margin-top: 10px;">Add</button>
  </div>
  
</form>	
</section>
</body>
</html>