<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:fragment="layout(title,content)">
<head>
<meta charset="ISO-8859-1">
<title th:replace="${title}"></title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
	.log{
		margin:  20px 320px;
	}
	
	.extra{
	box-shadow: 0px 0px 13px grey;	
	width: 500px;
	margin: 6px auto;
	padding: 20px;
	border-radius: 13px;
	}
	.sym{
		margin-left: 245px;
		margin-bottom: 20px;
		}
		
	.butt{
		margin-left: 230px;
	}
	
	.boc{
		border: 2px solid green;
		padding-bottom: 13px;
		background-color: antiquewhite;
		border-radius: 15px;
	}
	.text{
		width: 350px;
		margin-left: 40px;
	}
    .sorting{
		display: flex;
		column-gap: 10px;

	}
</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home"> &nbsp <i class="fa-solid fa-pen-nib fa-lg" style="color: #ffffff;"></i>Enote</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		
	
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home"><i class="fa-solid fa-house-user fa-lg" style="color: #f7f12b;"></i> &nbsp Home</a>
        </li>
       
        <th:block th:if="${loguser!=NULL}"> 
        <li class="nav-item">
          <a class="nav-link active" href="/user/add"><i class="fa-solid fa-notes-medical fa-lg" style="color: #eef3fb;"></i>Add Note</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/user/view"><i class="fa-solid fa-eye fa-lg"  style="color: #eff3fb;"></i>View All Notes</a>
        </li>
       </th:block>
       
      </ul>
    
       <ul class="navbar-nav me-auto mb-lg-0">
		   
	 <th:block th:if="${loguser!=NULL}">
  
    <li class="nav-item">
		  
		  <div class="dropdown">
  <button class="btn btn-sm btn-warning dropdown-toggle" type="button"  data-bs-toggle="dropdown" >
   <i class="fa-solid fa-user fa-lg" style="color: rebeccapurple;"></i>&nbsp[[${loguser.fullname}]]
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item " href="/user/changepassword"><i class="fa-solid fa-key fa-lg" style="color: rebeccapurple;"></i>&nbspChange Password</a></li>
  </ul>
          </div>
		  
     </li>
        
        <li class="nav-item">
          <a class="btn btn-sm btn-danger ms-2" href="/logout">&nbspLOGOUT&nbsp<i class="fa-solid fa-right-from-bracket fa-lg" style="color: white;"></i></a>
        </li>		 
		 
	 </th:block>
	 	   
      <th:block th:if="${loguser==NULL}">		   
        <li class="nav-item">
          <a class="btn btn-sm btn-danger" href="/register"><i class="fa-regular fa-registered fa-lg" style="color: #fdf7f7;"></i>&nbspRegister</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-sm btn-primary ms-2" href="/loginpage"><i class="fa-solid fa-right-to-bracket fa-lg"></i>&nbspLogin</a>
        </li>
       </th:block>  
            
      </ul>
       <th:block th:if="${loguser!=NULL}">
        <form class="d-flex" action="/user/searchitem" method="post">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchString">
        <button class="btn btn-outline-warning" type="submit">Search</button>
      </form>
        </th:block> 
    </div>
  </div>
</nav>
<th:block th:replace="${content}"></th:block>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>