<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:replace="~{base::layout(~{::title},~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>changepassword title here</title>
</head>
<body>
<section class="extra">
<form action="/user/change" method="post" style="margin-top: 40px;">
<h3>Change Your Password&nbsp<i class="fa-solid fa-lock fa-lg" style="color: rebeccapurple;"></i></h3>
 
 <th:block th:if="${session.msg}">
	<p class="fs-5 text-center text-success">[[${session.msg}]]</p>
   <th:block th:text="${@userServiceimpl.removeMessage()}"></th:block>
 </th:block>
 
  <div class="mb-3">
    <label for="example" class="form-label">Old Password</label>
    <input type="text" class="form-control" id="example" name="oldpassword" >
  </div>
 
   <div class="mb-3">
    <label for="example" class="form-label">New Password</label>
    <input type="text" class="form-control" id="example" name="newpassword" >
  </div>
  
<div style="text-align: center;">
  <button type="submit" class="btn btn-primary" style="border-radius: 20px;width: 120px;margin-top: 10px;">Change</button>
  </div>
  
</form>	
	</section>
</body>
</html>