<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:replace="~{base::layout(~{::title},~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>resetpassword title here</title>
</head>
<body>
<section class="extra">
<form action="/reset" method="post" style="margin-top: 40px;">
<h3>Reset Your Password</h3>

    <th:block th:if="${session.msg}">
		<p class="fs-4 mt-2 text-center text-success">[[${session.msg}]]</p>
		<th:block th:text="${@userServiceimpl.removeMessage()}"></th:block>
	</th:block>

  <div class="mb-3">
    <label for="example" class="form-label">New Password</label>
    <input type="text" class="form-control" id="example" name="newpassword" placeholder="Enter a New Password">
  </div>
 
 <div class="mb-3">
    <label for="example" class="form-label">ReEnter The Password</label>
    <input type="text" class="form-control" id="example" name="confirmpassword" placeholder="Confirm by again Enter the new Password">
  </div>
 
 <input type="hidden" name="id" th:value="${id}">
 
<div style="text-align: center;">
  <button type="submit" class="btn btn-primary" style="border-radius: 20px;width: 120px;margin-top: 10px;">reset</button>
  </div>
  
</form>	
	</section>
</body>
</html>